<div class="welcomeHead">
  <table>
    <tr><h2 style="text-align: center;">What would you like to save for?</h2></tr>
    <tr><p style="color: black;">“By definition, saving — for anything — requires us to not get things now so we can get bigger ones later.” <br /> —
      Jean Chatzsky</p></tr>
    <tr><img src="../../../../../assets/bankingforall.jpg" alt="Avatar" class="avatar"></tr>
    <tr></tr>
    <tr></tr>
    <tr><select #selectedCategory class="dropDown" (change)="onChange(selectedCategory.selectedIndex)">
      <option *ngFor="let type of types" [value]="types.indexOf(type)">
        {{type.value}}
      </option>
    </select></tr>
    <tr><div *ngIf="showAdditional">
      <div><h3>Be more specific</h3></div>
      <select #subcat class="dropDown" (change)="onSubChange(subcat.selectedIndex)">
        <option *ngFor="let goal of goals" [value]="goals.indexOf(goal)">
          {{goal.value}}
        </option>
      </select>
    </div></tr>
  </table>
  <div *ngIf="showSave">
    <app-saving-amount></app-saving-amount>
  </div>

</div>

