<div class="welcomeHead">
  <table>
    <tr><h1>Welcome back to the<br />Money Manager</h1></tr>
    <tr><img src="../../../assets/savings.png.png" alt="Avatar" class="avatar"></tr>
      <tr>
      <div class="container-fluid">
        <p class="content">
          Money Manager has looked at your income, spending habits, upcoming payments, and the insights into your saving routines. By using this service, Money Manager will start moving money from
          your checking to savings account every few days automatically.
        </p>
      </div>
    </tr>
    <tr>
      <div class="container-fluid">
        <p style="color: black; font-weight: bold">
          Feel free to come back at anytime to adjust your personal Money Manager settings.
        </p>
      </div>
    </tr>
  </table>
  <div class="container" style="padding-top: 5px;">
    <a routerLink="/cashflow" class="Next" >Get Started</a>
  </div>
</div>




