<div class="welcomeHead">
  <table>
    <tr><h1>Welcome to<br />Compass</h1></tr>
    <tr><img src="../../../assets/savings.png" alt="Avatar" class="avatar"></tr>
      <tr>
      <div class="container-fluid">
        <p class="content">
          Compass is a tool that can guide you to meet your goals, look into your income, spending, habits.
          Compass sends you deep insights into your finances and can help you automate savings.
        </p>
      </div>
    </tr>
    <tr>
      <div class="container-fluid">
        <p style="color: black; font-weight: bold">
          Feel free to come back at anytime to Compass and adjust your personal settings.
        </p>
      </div>
    </tr>
  </table>
  <div class="container" style="padding-top: 5px;">
    <a routerLink="/savings" class="Next" >Get Started</a>
  </div>
</div>




