<div class="welcomeHead">
  <table>
    <tr><h2>Welcome to the Finance Manager</h2></tr>
    <tr><img src="../../../assets/newpiggy.jpg" alt="Avatar" class="avatar"></tr>
      <tr>
      <div class="container-fluid">
        <p class="content">
          After looking at your incoming, spending habit, upcoming payments and saving comfort level, we automatically move money from
          your checking to Savings account every few days.
        </p>
      </div>
    </tr>
    <tr>
      <div class="container-fluid">
        <p>
          Adjust your comfort level saving style and make with-drawls of transfers at any time.
        </p>
      </div>
    </tr>
    <tr><a href="#" class="Next">Get Started</a></tr>
  </table>
</div>




